<header>
  <nav>
    <a routerLink="/">{{title}}</a>
    <a routerLink="/presets" routerLinkActive="active">Presets</a>
    <a routerLink="/outputs" routerLinkActive="active">Outputs</a>
    <a routerLink="/channels" routerLinkActive="active">Channels</a>
    <a routerLink="/intensity" routerLinkActive="active">Intensity</a>
    <a routerLink="/color" routerLinkActive="active">Color</a>
  </nav>

  <div *ngIf="api.status.status()">
    <i class="icon material-icons">{{api.status.status().icon}}</i>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <dmx-status id="dmx-status">
    Loading...
  </dmx-status>
</footer>
