<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Type</th>
      <th>Head</th>
      <th>Channel</th>
      <th>DMX</th>
    </tr>
  </thead>
  <tbody *ngFor="let head of sortedHeads()">
    <tr>
      <td></td>
      <td [attr.rowspan]="1 + head.Channels.length">{{head.Type.Vendor}} {{head.Type.Model}} ({{head.Type.Mode}})</td>
      <th [attr.rowspan]="1 + head.Channels.length">{{head.ID}}</th>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let channel of head.Channels">
      <td>{{head.Config.Universe}}.{{channel.Address}}</td>
      <th>{{channel.typeClass()}}</th>
      <td class="dmx-channel-control">
        <label>{{channel.typeLabel()}}</label>
        <input class="dmx" type="range" min="0" max="255"
          [(ngModel)]="channel.DMX"
          (ngModelChange)="setHeadChannelDMX(head, channel, $event)"
        >
        <output class="dmx">{{channel.DMX}}</output>
      </td>
    </tr>
  </tbody>
</table>
