<div class="dmx-heads">
  <button class="dmx-head color"
    *ngFor="let head of service.ofColor()"
    [class.active]="service.isActive(head)"
    [style.background-color]="hexRGB(head.Color)"
    (click)="select(head)"
  >
    <label class="ID">{{head.ID}}</label>
  </button>
</div>

<div class="controls">
  <output class="color">{{activeColor}}</output>

  <div class="items" *ngIf="colors">
    <button class="item color"
      *ngFor="let color of colors"
      [style.background-color]="hexRGB(color)"
      [class.active]="isActive(color)"
      (click)="apply(color)"
    >
    </button>
  </div>
</div>
