<div class="items">
  <button class="item dmx-preset"
    *ngFor="let preset of list()"
    (click)="click(preset)"
    [class.active]="isActive(preset)"
  >
    <label class="name">{{preset.Name}}</label>
  </button>
</div>

<div class="controls">
  <div class="tools">
    <button class="tool" (click)="export()" title="Export">
      <i class="icon material-icons">file_download</i>
    </button>
  </div>

  <dmx-control label="Intensity" [value]="intensity" (valueChange)="update($event)"></dmx-control>

  <div *ngIf="preset">
    <h1>{{preset.Name}}</h1>

    <dmx-preset-parameters *ngIf="preset.Config.All"
      [parameters]="preset.Config.All"
      title="All"
    ></dmx-preset-parameters>

    <dmx-preset-parameters *ngFor="let group of listGroups()"
      [parameters]="groupParameters(group)"
      title="Group: {{group.ID}}"
    ></dmx-preset-parameters>

    <dmx-preset-parameters *ngFor="let head of listHeads()"
      [parameters]="headParameters(head)"
      title="Head: {{head.ID}}"
    ></dmx-preset-parameters>
  </div>
</div>
