.dmx-parameter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 1em;
}

.dmx-parameter label {
  flex: 0 1 6em;

  font-weight: bold;
}

.dmx-parameter output {
  flex: 0 0 4em;
  text-align: right;
}
