body {
  background-color: #aaa;
  color: #111;
}

a {
  color: #ccc;
}

h2 {
  background-color: #888;
  color: #111;

  margin: 0;
  padding: 0.25em;
}

h3 {
  background-color: #133337;
  color: #ccc;

  margin: 0;
  padding: 0.25em;
}

/* Structure */
.app {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 0;

  font-size: 2em;
  background-color: #133337;
  color: #ccc;
}

footer {
  padding: 0.5em;

  background-color: #111;
  color: #44ff44;
}

/* Navigation */
nav a {
  display: inline-block;
  padding: 0.5em;

  text-decoration: none;
}

nav a.active {
  background-color: #aaa;
  color: #133337;
}

/* Loading */
div.spinner {
  width: 10%;
  height: 10%;
  background-color: #133337;
}

/* Views */
.view {
  flex: 1;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.view.centered {
  justify-content: center;
  align-items: center;
}

/* Split view with controls */
.view.split {
  padding: 0;

  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.split.vertical {
  flex-direction: column;
  align-items: stretch;
}

.view.split > .dmx-heads {
  flex: 1;

  padding: 1em;
}

.view.split > .split {
  flex: 1;

  padding: 0em;
}

.view.split > .controls {
  flex: 0 30%;

  align-self: stretch;
}

/* Controls pane on right */
.controls {
  padding: 0em;

  background-color: #444;
  color: #ccc;
}

/* Flow view with heads */
.dmx-heads {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.dmx-head {
  width: 8em;
  height: 8em;

  margin: 0.5em;
  padding: 0.5em;

  background-color: #133337;
  border: 0.25em solid #133337;
  border-radius: 0.5em;
  color: #eee;
}

.dmx-head.active {
  border: 0.25em solid #9f9;
}

/* Generic flowed items */
.items {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item {
  width: 8em;
  height: 8em;

  margin: 0.5em;
  padding: 0.5em;

  border-width: 0.25em;
  border-style: solid;
  border-radius: 0.5em;
}

/* Tables */
table {
  width: 100%;

  border-collapse: collapse;
}

tr {
  border: 1px solid #aaa;
}

th, td {
  padding: 0.25em;
}
th {
  background-color: #133337;
  color: #ccc;
}
td {
  background-color: #888;
}
