body {
  background-color: #aaa;
  color: #111;
}

a {
  color: #ccc;
}

/* Structure */
.app {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 0;

  font-size: 2em;
  background-color: #133337;
  color: #ccc;
}

footer {
  padding: 0.5em;

  background-color: #111;
  color: #44ff44;
}

/* Navigation */
nav a {
  display: inline-block;
  padding: 0.5em;

  text-decoration: none;
}

nav a.active {
  background-color: #aaa;
  color: #133337;
}

/* View */
.view {
  flex: 1;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.view.centered {
  justify-content: center;
  align-items: center;
}

.view.split {
  padding: 0;

  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

div.spinner {
  width: 10%;
  height: 10%;
  background-color: #133337;
}

.view.split .main {
  flex: 1;

  padding: 1em;
}

.view.split .controls {
  flex: 0 30%;

  align-self: stretch;
}

.controls {
  padding: 0em;

  background-color: #444;
}

.controls h2 {
  background-color: #aaa;
  color: #111;

  margin: 0;
  padding: 0.25em;
}

.controls h3 {
  background-color: #111;
  color: #aaa;
  
  margin: 0;
  padding: 0.25em;
}

/* Elements */
table {
  width: 100%;

  border-collapse: collapse;
}

tr {
  border: 1px solid #aaa;
}

th, td {
  padding: 0.25em;
}
th {
  background-color: #133337;
  color: #ccc;
}
td {
  background-color: #888;
}
